.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .personal-dtl-cnt {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 600px;
  }
  
  .header-detail {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    width: 43%;
  }
  
  .form-group-single {
    display: flex;
    flex-direction: column;
    width: 43%;
  }
  
  .calculate-premium {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mat-card-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  h3 {
    color: #f44336;
  }
  