<mat-drawer-container class="sidenav-main-cnt">
  <mat-drawer #drawer mode="side" [opened]="drawerState" class="sidenav-options-cnt">
    <div class="sidenav-content" *ngIf="userRole === 'customer'">
      <span routerLink="policies">View Policies</span>
      <span routerLink="customerPayments">View Payments</span>
      <span routerLink="customerPolicies">My Policies</span>
      <span routerLink="receipt">Receipt</span>
    </div>
    <div class="sidenav-content" *ngIf="userRole === 'employee'">
      <span [routerLink]="['/dashboard', userRole, 'addPolicy']">Policy Creation</span>
      <span [routerLink]="['/dashboard', userRole, 'policies']">View Policies</span>
      <span routerLink="allCustomerPolicies">View All Customer Policies</span>
    </div>

    <div class="sidenav-content" *ngIf="userRole === 'agent'">
      <span [routerLink]="['/dashboard', userRole, 'addPolicy']">Policy Creation</span>
      <span [routerLink]="['/dashboard', userRole, 'policies']">View Policies</span>
      <span routerLink="soldPolicies">View Sold Policies</span>
      <span routerLink="commision">Commission Calculation</span>
      <span>View Commission</span>
    </div>
    <div class="sidenav-content" *ngIf="userRole === 'admin'">
      <span routerLink="/signup/agent">Register Agent</span>
      <span routerLink="/signup/employee">Register Employee</span>
      <span routerLink="/signup/customer">Register Customer</span>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
