<div class="header-main-cnt">
    <div class="inner-main-cnt">
      <div class="img-span-search-cntr">
        <div class="menuicon-img-span-cntr">
            <mat-icon class="menu-icon" (click)="handleDrawerClick()" svgIcon="menu-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <img class="book-img" src="assets/Images/insurance-logo.png" alt="Image not found" height="30px" width="30px">
            <span>INSURANCE</span>
        </div>
        <div class="search-container">
          <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
          <input type="text" class="search-input" placeholder="Search...">
        </div>
      </div>
      <div class="profile-download-cnt">
        <mat-icon class="download-icon" svgIcon="download-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        <span class="google-account">P</span>
      </div>
    </div>
  </div>
  
 
  


  




  <!-- <div class="header-main-cnt">
    <div class="logo-search-cnt">
       <div class="menuicon-logo-title-cnt">
            <mat-icon class="menu-icon" (click)="handleDrawerClick()" svgIcon="menu-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
            <img class="book-img" src="assets/Images/insurance-logo.png" alt="Image not found" height="30px" width="30px">
            <span>E-INSURANCE</span>
       </div>
       <div class="search-cnt">
            <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
            <input type="text" class="search-input" placeholder="Search...">
       </div>
    </div>
    <div class="download-profile">
        <mat-icon class="download-icon" svgIcon="download-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        <span class="google-account">P</span>
    </div> 
  </div>-->
  
  
  

  


  
