<img src="assets/Images/login-background-image.png" class="background-image" alt="">

<div class="signup-container">
  <div class="signup-main-cnt">
    <form class="signup-form">
      <span class="heading"><h2>SignUp</h2></span>
      <div class="name-field">
        <label>Full Name</label>
        <mat-form-field appearance="outline">
          <mat-label>Name Form Field</mat-label>
          <input matInput placeholder="Enter Full Name">
        </mat-form-field>
      </div>
      <div class="name-field">
        <label>Email Id</label>
        <mat-form-field appearance="outline">
          <mat-label>EmailID Form Field</mat-label>
          <input matInput placeholder="Enter EmailId">
        </mat-form-field>
      </div>
      <div class="name-field">
        <label>Password</label>
        <mat-form-field appearance="outline">
          <mat-label>Password Form Field</mat-label>
          <input matInput placeholder="Enter Password" type="password">
        </mat-form-field>
      </div>
      <div class="signup-form-buttons">
        <span routerLink="/">Already Have An Account</span>
        <button type="button">SignUp</button>
      </div>
    </form>
  </div>
</div>
